<!DOCTYPE html>
<html>
    <head>
            <% include partials/head.ejs %> 
    </head>
    <body>
        <!--Navigation bar starts here-->
        <% include partials/menu.ejs %> 
        <!--Navigation bar ends here-->
        <br/><br/><br/>        
        <!--body main image-->
        <br/>
        <div class="container">
            <div class="row">
                    <% include partials/heading.ejs %>
                    <img src="/images/city.jpg" alt="iLoveMyCity" class="img-thumbnail">

                </div>

            </div>

        </div>        
        <% include partials/jsinclude.ejs %>    
    </body>
</html>